body {
  background-color: #003153;
  padding: 2rem 2rem;
}

.item {
  padding: 2rem;
  margin: 2rem;
  background-color: whitesmoke;
  border-radius: 1rem;
}

.todo {
  background-color: #e88ccf;
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 1rem;
}
